body {
  background-color: #212121;
  color: #f1f1f1;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-top: 140px;
  text-align: center;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.main-area{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.rectangle {
  padding: 25px 90px;
  background-color: #212121;
  border-radius: 25px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  transition: 0.3s;
}

.rectangle:hover {
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
}


.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.profile-pic {
  width: 100px;
  height: 100px;
  border: 4px solid #5865F2;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.profile-pic:hover{
  border-radius: 30px;
}

.name {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bolder;
  border: 2px solid #212121;
  border-radius: 10px;
  padding: 12px;
  cursor: default;
  transition: 0.4s;
}

.name:hover{
  box-shadow: 0 0 15px 5px white;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover{
  box-shadow: 0px 0px 10px 2px white;
}

.cursor {
  position: fixed;
  z-index: 999;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s, transform 0.2s;
}

.cursor-hover {
  transform: scale(1.5);
  opacity: 1;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-1,
.btn-2,
.btn-3 {
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}


.popup-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.popup-buttons #chat-button{
    margin-bottom: 20px;
    transform: scale(1.8);
    cursor: pointer;
    transition: 0.3s;
}

.popup-buttons #chat-button:hover{
  transform: scale(2);
}

.popup-circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.popup-circle:hover {
  transform: scale(1.1);
}

.popup-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 3px;
  background-color: #000000;
}

.popup-plus::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 20px;
  background-color: #000000;
}

.popup-panel {
  position: fixed;
  bottom: -600px;
  right: 20px;
  z-index: 9999;
  width: 300px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  font-size: 20px;
  transition: bottom 0.3s ease;
}

.popup-panel h2 {
  font-size: 24px;
  margin-top: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.popup-panel label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.popup-panel input,
.popup-panel textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.popup-panel input:focus,
.popup-panel textarea:focus {
  outline: none;
  border-color: #333;
}

.popup-panel button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-panel button:hover {
  background-color: #3e8e41;
}

.popup-panel.active {
  bottom: 100px;
}

#theme-button{
  cursor: pointer;
  position: fixed;
  bottom: 92%;
  left: 96%; 
  color: #f3cc82;
  transform: scale(1.5);
}

.chatbox{
  display: none;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: 100px;
  background: #333;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  height: 25rem;
  width: 19rem;
  border: 4px solid #a19f9f;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  
}
 
::-webkit-scrollbar-thumb {
  background: #4f4f4f; 
  border-radius: 0px 10px 15px 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d1d1d; 
}

.input-div{
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.chatbox input{
  background-color: #c2c2c2;
  box-sizing: border-box;
  border: 3px solid #727171;
  border-radius: 7px;
  padding: 7px 10px;
  width: 100%;
  height: 2.5rem;
}

#send-button{
  padding: 8px 10px;
  margin: 0 2px 2px;
  border: 2px solid #727171;
  border-radius: 10px;
  font-weight: bold;
  background-color: #a19f9f;
  cursor: pointer;
}

#send-button:hover{
  background-color: #8a8888;
}

.chatbox .chat{
  display: flex;
  flex-direction: column;
  color: rgb(184, 184, 184);
}

.chatbox .chat #person1{
  margin: 10px 60px 15px 10px;
}

.chatbox .chat #person2{
  margin: 10px 10px 15px 60px;
}

.no-message{
  color: #727171;
  text-align: center;
  font-weight: bold;
  border: 2px solid #a19f9f;
  border-radius: 10px;
  padding: 10px;
  margin: 55% 25%;
}

.chatbox.active {
  display: flex;
  position: fixed;
  bottom: 20%;
  right: 1.6%;
}

.message-style{
  word-wrap: break-word;
  text-align: justify;
  border: 2px solid #a19f9fed;
  background-color: #a19f9f1e;
  border-radius: 10px ;
  padding: 10px;
}
