body {
    background: rgb(73, 73, 73);
}


.botiswriting {
    display: block;
    font-style: italic;
    color: gray;
}
  
.message-input[contenteditable="true"]:not(.botiswriting) {
    pointer-events: auto;
}
  
.message-input[contenteditable="true"].botiswriting {
    pointer-events: none;
}
  

.profile-button i.fa-user {
    color: #fff; /* set the color to white */
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    z-index: 9999;
}

#update-profile {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4a4949;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
  
#update-profile:hover {
    background-color: #828282;
}
  

.profile-wrapper {
    width: 30%;
    padding: 20px;
    border: 5px solid #4a4949;
    display: none;
    background-color: #4a4949;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 100%; /* initial position */
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.3s ease-in-out; /* add transition */
    z-index: 9999;
}
  
.profile-wrapper.open {
    top: 50%;
}
  
.profile-wrapper.close {
    top: 100%;
}

.profile-wrapper h2 {
    margin: 0;
    margin-bottom: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-section {
    margin-bottom: 10px;
}

.profile-section label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.profile-section input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}

.profile-section input[type="file"] {
    border: none;
    font-size: 14px;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .profile-section input[type="file"]:hover {
    background-color: #ddd;
  }
  
  .profile-section input[type="file"]:focus {
    outline: none;
  }

.hint {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-style: italic;
    z-index: 9999;
    display: block; /* başlangıçta gizli */
}
  

.chatbox {
    max-width: 100%;
    margin: 10px auto;
    background-color: #4a4949;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    top: -30px;
    bottom: 0;
    left: 0px;
    right: 0;
}


.message-box {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: white;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.message-box-body {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.message-box-footer {
    display: flex;
    margin-top: 10px;
}

.message-input {
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 10px;
    right: 95px;
    width: 1300px;
    height: 25px;
    background: #4a4949;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    outline: none;
    overflow: auto;
}

.message {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
    flex-direction: row-reverse;
}

.message-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 0 5px;
}



.message-sender {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
.message-sender::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-image: var(--message-sender-before-background-image);
    background-size: cover;
}


.message-text {
    background-color: #414141;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    margin: 0 10px;
}

.message:last-of-type {
    animation: show-message 0.5s;
}
  

@keyframes show-message {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#scroller * {
    overflow-anchor: none;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}